.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    .chat-message {
      display: flex;
      flex-direction: column;
      padding: 10px;
      &.left {
        align-items: flex-start;
      }
      &.right {
        align-items: flex-end;
      }
      & .sender {
        padding: 5px;
      }
      & .content {
        padding: 5px 10px;
        background-color: #fff;
      }
    }
  }
  .chat-input-box {
    display: flex;
    height: 30px;
    .chat-input {
      margin-right: 2em;
    }
    .chat-send-btn {
      width: 10em;
    }
  }
}
