.header {
  height: 50px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  background-color: aquamarine;
  .title {
    margin: auto;
  }
  .logout-btn {
    height: 30px;
    margin: auto 10px;
  }
}
