.container {
  width: 500px;
  height: 500px;
  background-color: aqua;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container .hidden {
  display: none;
}
.container .show {
  display: block;
}
