html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}
.App {
  font-size: 1rem;
  position: relative;
  .left {
    position: absolute;
    width: 300px;
    top: 0px;
    bottom: 0px;
    background-color: bisque;
  }
}
